<ion-header>
  <ion-toolbar color="primary">
    <ion-title> Diario Emocional </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" color = "light">

  <div *ngFor="let item  of entries">
    <ion-card color="warning" *ngIf="entries !=0">
      <div style="text-align: center;">
        <div style="text-align: right; margin-right: 15px; margin-top: 20px">
          
        </div>
        <h3 style="margin-top: 0px">{{ item.date }}</h3>
      </div>

      <div style="text-align: center">
        <ion-row>
          <ion-col>
            <h3>
              Animo: <img src="{{getImagenEstado(item.state)}}"  style="width: 3rem;" >
              
            </h3>
          </ion-col>
          <ion-col>
            <h3>Sueño: <img src="{{getImagenSuenyo(item.sleep)}}"  style="width: 3rem;" ></h3>
          </ion-col>
        </ion-row>
      </div>

      <div style="text-align: center">
        <ion-row>
          <ion-col>
            <h3>
              Tiempo:<img src="{{getImagenTiempo(item.weather)}}"  style="width: 3rem;" >
              
            </h3>
          </ion-col>
          <ion-col>
            <h3>Comida: <img src="{{getImagenComida(item.food)}}"  style="width: 3rem;" ></h3>
          </ion-col>
        </ion-row>
      </div>  

      <div style="text-align: center"><h3>Pensamientos Postivos</h3></div>
      <div style="text-align: center; margin-bottom: 10px">
        {{ item.positive_thoughts}}
      </div>
      <div style="text-align: center"><h3>Pensamientos Negativos</h3></div>
      <div style="text-align: center; margin-bottom: 10px">
        {{ item.negative_thoughts}}
      </div>

      <div style="text-align: center"><h3>Notas</h3></div>
      <div style="text-align: center; margin-bottom: 10px">{{ item.notes}}</div>
    </ion-card>
  </div>

  <ion-fab style = "padding-inline-end: 2.5%;" slot="fixed" size="small" vertical="bottom" horizontal="end">
    <ion-fab-button color = "secondary" [routerLink]="['/app/Tabs/seccion-mental/New']">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>

  <ion-fab style = "padding-inline-start: 2.5%;" slot="fixed" size="small" vertical="bottom" horizontal="start">
    <ion-fab-button color = "secondary">
      <ion-icon name="calendar-outline"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>