<ion-header>
  <ion-toolbar color="primary">
    <ion-title>Página de bienvenida</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content color = "light">

  <div style = "display:flex ;">

    <ion-button color="primary"style = "margin-left: auto; margin-top: 10%;    margin-right: auto; width:40%;" expand="block" [routerLink]="['/users/medics/patients/New']">
      Añadir paciente
    </ion-button>
    <ion-button expand="block" style = "margin-left: auto; margin-top: 10%;   margin-right: auto; width:40%;" (click)="cerrarsesion()">
      Cerrar sesión
  
    </ion-button>
  </div>
  
  <div style = "padding-top: 3%;margin: auto; margin-bottom: 10%; ;margin-left: 19%; margin-right: auto;">
    <H1 >Listado de pacientes</H1>
  </div>
  
  <div *ngIf="existsPatients(); then renderPatients else noPatients"></div>
  <ng-template #renderPatients>
    <div *ngFor="let item of pacientes">
      <ion-card
        button
        color="warning"
        [routerLink]="['patient/'+item.id]"
      >

      <ul>
        <ion-label style = "padding-inline-start: 6%;" display="block" position="floating">Nombre: {{item.user.first_name}}</ion-label>
    </ul>
    <ul>
      <ion-label style = "padding-inline-start: 6%;" display="block" position="floating">Apellidos: {{item.user.last_name}}</ion-label>
  </ul>
  <ul>
    <ion-label style = "padding-inline-start: 6%;" display="block" position="floating">Email: {{item.user.email}}</ion-label>
</ul>
    
      </ion-card>
    </div>

  
    
  </ng-template>

  <ng-template #noPatients>
    <div style="font-weight: bold; font-size: x-large; text-align: center">
      <img src="https://static.thenounproject.com/png/2902077-200.png" class="imagen-vacia" alt="">
      <div style="opacity: .2;"> No hay pacientes todavía </div>
    </div>
  </ng-template>

  

</ion-content>
