<ion-header>
  <ion-toolbar color="primary">
    <ion-title>Página inicio médicos</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <div style="margin-top: 6%; text-align: left; margin-left: 6%; margin-bottom: 4%;">
    <ion-label display="block" position="floating">Esta es la página de inicio exclusiva para médicos donde pueden ver un listado de sus pacientes</ion-label>
  </div>
  <ion-button expand="block" style = "margin-left: auto; margin-top: 10%;   margin-right: auto; width:60%;" (click)="cerrarsesion()">
    Cerrar sesión

  </ion-button>

    <ion-button color="primary"style = "margin-left: auto; margin-top: 7%; margin-botton:5%;   margin-right: auto; width:60%;" expand="block" [routerLink]="['/users/medics/patients/New']">
      Añadir paciente
    </ion-button>

  <div *ngIf="existsPatients(); then renderPatients else noPatients"></div>
  <ng-template #renderPatients>
    <div *ngFor="let item of pacientes">
      <ion-card
        button
        color="warning"
        [routerLink]="['patient/'+item.id]"
      >

      <ul>
        <ion-label style = "padding-inline-start: 6%;" display="block" position="floating">Nombre: {{item.user.first_name}}</ion-label>
    </ul>
    <ul>
      <ion-label style = "padding-inline-start: 6%;" display="block" position="floating">Apellidos: {{item.user.last_name}}</ion-label>
  </ul>
  <ul>
    <ion-label style = "padding-inline-start: 6%;" display="block" position="floating">Email: {{item.user.email}}</ion-label>
</ul>
    
      </ion-card>
    </div>

  
    
  </ng-template>

  <ng-template #noPatients>
    <div style="font-weight: bold; font-size: x-large; text-align: center">
      <img src="https://static.thenounproject.com/png/2902077-200.png" class="imagen-vacia" alt="">
      <div style="opacity: .2;"> No hay pacientes todavía </div>
    </div>
  </ng-template>

  

</ion-content>
