ion-segment-button img {
   width: 90%;
   height: 90%;
   object-fit: contain;
}

ion-segment {
   padding-top: 3%;
   padding-bottom: 5%;
}

/* Extras */
a:visited{color:#888}
a{color:#444;text-decoration:none;}
p{margin-bottom:.3em;}