<ion-header>
  <ion-toolbar color="primary">
    <ion-title>
      Nueva entrada mental
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding" color="light">
  
    <ion-card color = "warning">

      <ion-text color="primary">
        <h1 style="text-align: center; padding-bottom: 2%; font-weight: bold;">{{ dtAux}}</h1>
      </ion-text>

      <div class="invalid-feedback error" *ngIf="errorMessage"  > {{errorMessage}}</div>

      <ion-label style = "padding-inline-start: 6%;" display="block" position="floating">¿Cómo te has sentido hoy?</ion-label>
      <ion-item color = "warning" style="padding-top: 3%; margin-bottom: 5%;">
        <ion-segment [(ngModel)]="estadoFisico" scrollable>
          <ion-segment-button value="VG">
            <img src="/assets/images/cara-muy-feliz.png">
          </ion-segment-button>
          <ion-segment-button value="G">
            <img src="/assets/images/cara-feliz.png">
          </ion-segment-button>
          <ion-segment-button value="F">
            <img src="/assets/images/cara-neutral.png">
          </ion-segment-button>
          <ion-segment-button value="B">
            <img src="/assets/images/cara-triste.png">
          </ion-segment-button>
          <ion-segment-button value="VB">
            <img src="/assets/images/cara-muy-triste.png">
          </ion-segment-button>
        </ion-segment>
      </ion-item>

      <ion-label style = "padding-inline-start: 6%;" display="block" position="floating">¿Cómo consideras que dormistes anoche?</ion-label>
      <ion-item color = "warning" style="padding-top: 3%; margin-bottom: 5%;">
        <ion-segment [(ngModel)]="suenyo" scrollable>
          <ion-segment-button value="DEEP">
            <img src="/assets/images/slumber.png">
          </ion-segment-button>
          <ion-segment-button value="NORMAL">
            <img src="/assets/images/sleeping.png">
          </ion-segment-button>
          <ion-segment-button value="LIGHT">
            <img src="/assets/images/light-sleep.png">
          </ion-segment-button>
          <ion-segment-button value="NONE">
            <img src="/assets/images/insomnia.png">
          </ion-segment-button>
        </ion-segment>
      </ion-item>

      <ion-label style = "padding-inline-start: 6%;" display="block" position="floating">¿Cómo consideras que has comido hoy?</ion-label>
      <ion-item color = "warning" style="padding-top: 3%; margin-bottom: 5%;">
        <ion-segment [(ngModel)]="comida" scrollable>
          <ion-segment-button value="HEALTHY">
            <img src="/assets/images/salad.png">
          </ion-segment-button>
          <ion-segment-button value="NORMAL">
            <img src="/assets/images/normal-food.png">
          </ion-segment-button>
          <ion-segment-button value="FAST">
            <img src="/assets/images/hamburger.png">
          </ion-segment-button>
          <ion-segment-button value="NONE">
            <img src="/assets/images/plato.png">
          </ion-segment-button>
        </ion-segment>
      </ion-item>

      <ion-label style = "padding-inline-start: 6%;" display="block" position="floating">¿Qué tiempo ha hecho hoy?</ion-label>
      <ion-item color = "warning" style="padding-top: 3%; margin-bottom: 2%;">
        <ion-segment [(ngModel)]="tiempo" scrollable>
          <ion-segment-button value="SUNNY">
            <img src="/assets/images/dom.png">
          </ion-segment-button>
          <ion-segment-button value="CLOUDY">
            <img src="/assets/images/nubes.png">
          </ion-segment-button>
          <ion-segment-button value="RAINY">
            <img src="/assets/images/lluvia.png">
          </ion-segment-button>
          <ion-segment-button value="STORMY">
            <img src="/assets/images/tormenta.png">
          </ion-segment-button>
          <ion-segment-button value="SNOWY">
            <img src="/assets/images/nieve.png">
          </ion-segment-button>
        </ion-segment>
      </ion-item>

      <ion-item color = "warning">
        <ion-label position="floating">Pensamientos positivos</ion-label>
        <ion-textarea [(ngModel)]="ppositivos" rows= "3" placeholder="Escribe aquí los pensamientos positivos que has tenido en el día de hoy." type="text"></ion-textarea>
      </ion-item>

      <ion-item color = "warning">
        <ion-label position="floating">Pensamientos negativos</ion-label>
        <ion-textarea [(ngModel)]="pnegativos" rows= "3" placeholder="Escribe aquí los pensamientos negativos que has tenido en el día de hoy." type="text"></ion-textarea>
      </ion-item>

      <ion-item color = "warning">
        <ion-label position="floating">Notas</ion-label>
        <ion-textarea [(ngModel)]="notas" rows= "3" placeholder="Si quieres explicar algo más sobre las preguntas anteriores o contarnos tu día, aquí nos tienes :)" type="text"></ion-textarea>
      </ion-item>

      <ion-button color="dark" expand="block" (click)="crearEntradaMental()">
        Crear entrada
      </ion-button>
    </ion-card>

    <ion-fab style = "padding-inline-start: 5%;" slot = "fixed" vertical = "bottom" horizontal = "beginning">
      <ion-fab-button color = "primary" [routerLink]="['/app/Tabs/DiarioEmocional']">
        <ion-icon name="arrow-back-circle-outline"></ion-icon>
      </ion-fab-button>
    </ion-fab>

</ion-content>
