.ion-card {
    background-color: lightgray;
    height: 100%;

}

.background{
    background-color: lightgray;
}

.ion-badge {
    background: lightgray;
    color: gray;
    margin-left: 20px;
    padding: 10px;

}

.footer2{
    text-align:center; 
}

.footer{
    text-align: left;
    position: fixed;
    width: 100%;


}

.margen{
    margin-left: 8px;
}