<ion-header>
  <ion-toolbar color="primary">
    <ion-title>
      Nueva entrada
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-pading" color="light">
  <ion-card color ="warning"> 
    <br>
    <form name = "form" (ngSubmit)="f.form.valid && modificarDetalles()" #f = "ngForm" novalidate>
      <ion-label style = "padding-inline-start: 6%; padding-top: 50px;" for = "valor" display="block" position="floating">Valor</ion-label>
      <ion-item color="warning">
        <ion-input [(ngModel)]="form.valor" #valor="ngModel" name = "valor"  placeholder="Type something here" required [ngClass]="{ 'is-invalid': f.submitted && valor.errors }"></ion-input>
        <ion-badge class="ion-badge" color="primary">mg/mL</ion-badge>
      </ion-item>
      <div style = "padding-left: 5%;"class="invalid-feedback" *ngIf="valor.errors && f.submitted">
        <div *ngIf="valor.errors['required']">Valor requerido</div>
      </div>
      <ion-button color="dark" expand="block" type = "submit" >
        Modificar entrada
      </ion-button>

    </form>
  </ion-card>

  <ion-fab style = "padding-inline-start: 5%;" slot = "fixed" vertical = "bottom" horizontal = "beginning">
    <ion-fab-button color = "secondary" (click)="goBack()" [routerLink]="['/app/Tabs/Analytics']">
      <ion-icon name="arrow-back-circle-outline"></ion-icon>
    </ion-fab-button>
  </ion-fab>
  
  
</ion-content>