<ion-header>
  <ion-toolbar color="primary">
    <ion-title>Modificar analítica</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding" color ="light">
  <div class = "ct">


   
    <ion-item color = "light" lines = "none">
      <ion-label class = "txt" position="stacked">Umbral Bajo</ion-label>
      <ion-input [(ngModel)]="umbralBajo" placeholder="Valor bajo a no superar en {{ unidad }}" type="number"></ion-input>
    </ion-item>

    <ion-item color = "light" lines = "none">
      <ion-label class = "txt" position="stacked">Umbral Alto</ion-label>
      <ion-input [(ngModel)]="umbralAlto" placeholder="Valor alto a no superar en {{ unidad }} " type="number"></ion-input>
    </ion-item>

    
    <ion-item color = "light" lines = "none">
      <ion-label text-wrap class = "txt" position = "stacked">Añadir a favoritas</ion-label>
      <ion-toggle color="primary" [(ngModel)]="favorita" [checked]="false" ></ion-toggle>

    </ion-item>
    
    <ion-button  color="primary" expand="block" (click)="modificarAnalitica()">
      Modificar analítica
    </ion-button>
  </div>

  

  <ion-fab style = "padding-inline-start: 5%;" slot = "fixed" vertical = "bottom" horizontal = "beginning">
    <ion-fab-button  color = "primary" (click)="goBack()">
      <ion-icon name="arrow-back-circle-outline"></ion-icon>
    </ion-fab-button>
  </ion-fab>

</ion-content>
