<ion-tabs>

  <div slot="top">
    <ion-tab-bar>
      <ion-tab-button tab="Analytics">
        <ion-icon name="bar-chart-outline"></ion-icon>
        <ion-label>Analíticas</ion-label>
      </ion-tab-button>
  
      <ion-tab-button tab="seccion-fisica">
        <ion-icon name="barbell-outline"></ion-icon>
        <ion-label>Diario Físico</ion-label>
      </ion-tab-button>
  
      <ion-tab-button tab="seccion-mental">
        <ion-icon name="happy-outline"></ion-icon>
        <ion-label>Diario Emocional</ion-label>
      </ion-tab-button>
  
      
      <ion-tab-button tab="perfil">
        <ion-icon name="person-outline"></ion-icon>
        <ion-label>Perfil</ion-label>
      </ion-tab-button>
    </ion-tab-bar>
  </div>

</ion-tabs>

