<ion-tabs>
  <ion-tab-bar slot="top">
    <ion-tab-button tab="Analytics">
      <ion-icon name="bar-chart-outline"></ion-icon>
      <ion-label>Analiticas</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="seccion-fisica">
      <ion-icon name="barbell-outline"></ion-icon>
      <ion-label>Diario Físico</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="DiarioEmocional">
      <ion-icon name="happy-outline"></ion-icon>
      <ion-label>Diario Emocional</ion-label>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>
