<ion-header>
  <ion-toolbar color = "primary">
    <ion-title>detalles-fisico</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" color = "light">

  <ion-card color="warning" >
    <div style="text-align: center;">
      <div style="text-align: right; margin-right: 15px; margin-top: 20px"></div>
      <h1 style="text-align: center; padding-bottom: 2%; font-weight: bold;">{{entrada.date}}</h1>
    </div>

    <div style="text-align: center">
      <h3 style="font-weight: bold; margin-bottom: 20px">
        Estado físico: <img src="../../../assets/images/{{entrada.state}}.png"  class ='emoji' style="width: 3rem;">
      </h3>
    </div>
    <div>
      <div *ngIf="bodyPartsNotEmpty(); then renderBodyParts"></div>
      <ng-template #renderBodyParts>
        <h3 style="font-weight: bold;text-align: center">¿Qué me duele?</h3>
        <b  *ngFor="let bodyPart of array_bodyParts;">
          <img src="../../../assets/images/{{bodyPart}}.png" class='emoji' style="width: 3rem; margin-bottom: 20px; margin-left: 10px;">
        </b>
      </ng-template>
    </div>
    <div style="text-align: center"><h3 style="font-weight: bold;">Notas</h3></div>
    <div style="text-align: center; margin-bottom: 10px">
      {{entrada.notes}}
    </div>
  </ion-card>

  <ion-fab style = "padding-inline-start: 5%; padding-bottom: 15%;" slot = "fixed" vertical = "bottom" horizontal = "beginning">
    <ion-fab-button color = "primary" (click)="goBack()" [routerLink]="['/app/Tabs/seccion-fisica']">
      <ion-icon name="arrow-back-circle-outline"></ion-icon>
    </ion-fab-button>
  </ion-fab>

</ion-content>
