ion-modal {
    &.bottom-end {
        align-items: flex-end;
        --height: auto;
        .ion-page {
        position: relative;
        display: block;
        contain: content;
        }
    }
}

.error{
    padding-top: 3%;
    padding-bottom: 2%;
    padding-left: 6%;
    color:red
}