<ion-content>

  <ion-card class="ion-text-center" color="light">
    <ion-card-header>
      <ion-card-title>
        Bienvenido a HematoDía
      </ion-card-title>
    </ion-card-header>

    <ion-card-content>

      <p>
        HematoDía está ahora mismo bajo desarrollo, así que, por definición
        no está completada.
      </p>
      <br>
      <p>
        Si se encuentra con cualquier error, por favor, manda un correo a 
        isppgrupo9@gmail.com, y lo solucionaremos lo antes posible.
      </p>
      <br>
      <p>
        Si usted no es parte del programa de Usuarios Piloto, por favor,
        contacte con el correo anteriormente mencionado e intentaremos
        añadirle al programa.
      </p>

    </ion-card-content>

   
    <ion-button expand="block" [routerLink] = "['/users/register']">
      Registrarse
    </ion-button>
    <ion-button expand="block" [routerLink] = "['/app/Tabs/Analytics/']">
      Iniciar sesión
    </ion-button>
  </ion-card>
  
</ion-content>
