<ion-content>
  <div style="height: 100%; display: flex; align-items: center; justify-content: center;">
    <ion-card class="ion-text-center" color="light">
      <ion-card-header>
        <ion-card-title>
          Bienvenido a HematoDía
        </ion-card-title>
      </ion-card-header>

      <ion-card-content>

        <p>
          HematoDía está ahora mismo bajo desarrollo, así que por definición, 
          la aplicación no está completada.
        </p>
        <br>
        <p>
          Si encuentra algún error, por favor, envíe un correo electrónico a 
          isppgrupo9@gmail.com, y lo solucionaremos lo antes posible.
        </p>
        <br>
        <p>
          Si usted no forma parte del programa de Usuarios Piloto, por favor, 
          contacte con el correo anteriormente mencionado e intentaremos 
          añadirle al programa.
        </p>
        <br>
        <!--
        <p>
          Al utilizar esta aplicación, aceptas a nuestros términos de servicio.
          Para leer nuestros términos de servicio, pulse <a target="_blank" href="[URL_ToS]">aquí</a>.
        </p>
        -->

      </ion-card-content>

    <ng-template *ngIf="!userLoggedIn(); then login_register else enter"></ng-template>
    <ng-template #login_register>
      <ion-button expand="block" [routerLink] = "['/users/register']">
        Registrarse
      </ion-button>
      <ion-button expand="block" [routerLink] = "['medics/register']">
        Registrarse como médico
      </ion-button>
      <ion-button expand="block" [routerLink] = "['/users/login']">
        Iniciar sesión
      </ion-button>
    </ng-template>
    <ng-template #enter>
      <ion-button class = "btacceder" (click)="toMainPage()">Acceder</ion-button>
    </ng-template>
    </ion-card>
  </div>
  
</ion-content>
