<ion-header>
  <ion-toolbar color="primary">
    <ion-title>Nueva analítica</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding" color ="light">

  <div class = "ct">
    <ion-item color = "light" lines = "none" id="metric">
      <ion-label  class="txt" position="stacked">Nombre</ion-label>
      <ion-select style = "background-color: white; border-radius:15px"[(ngModel)]="nombre" placeholder="Nombre" (ngModelChange)="getMetricUnit()">
        <ion-select-option *ngFor="let item of metrics" value="{{ item.name }}">{{ item.name }}</ion-select-option>
      </ion-select>
    </ion-item>
    <ion-item color = "light" lines = "none">
      <ion-label class = "txt" position="stacked">Umbral Alto</ion-label>
      <ion-input [(ngModel)]="umbralAlto" placeholder="Valor alto a no superar" type="number"></ion-input>
      <ion-badge class="ion-badge" >{{ getMetricUnit() }}</ion-badge>
    </ion-item>
    <ion-item color = "light" lines = "none">
      <ion-label class = "txt" position="stacked">Umbral Bajo</ion-label>
      <ion-input [(ngModel)]="umbralBajo" placeholder="Valor bajo a no superar" type="number"></ion-input>
      <ion-badge class="ion-badge" >{{ getMetricUnit() }}</ion-badge>
    </ion-item>
    
    <ion-button  color="primary" expand="block" (click)="crearNuevaAnalitica()">
      Crear analítica
    </ion-button>
  </div>
  

  <ion-fab style = "padding-inline-start: 5%;" slot = "fixed" vertical = "bottom" horizontal = "beginning">
    <ion-fab-button  color = "primary" (click)="goBack()">
      <ion-icon name="arrow-back-circle-outline"></ion-icon>
    </ion-fab-button>
  </ion-fab>

</ion-content>
