<ion-header>
    <ion-toolbar color="primary">
      <ion-title>Nuevo paciente</ion-title>
    </ion-toolbar>
  </ion-header>
  
  <ion-content class="ion-padding" color ="light">
    <ion-card color = "warning">

      
        
        <ion-item color = "warning">
            <ion-label position="floating">Introduce el código de un paciente</ion-label>
            <ion-textarea [(ngModel)]="code"  placeholder="3434" type="text"></ion-textarea>
        </ion-item>
     
      
     
      
      
      <ion-button  color="primary" expand="block" (click)="enlazarPaciente()">
        Enlazar
      </ion-button>
    </ion-card>
    
  
    <ion-fab style = "padding-inline-start: 5%;" slot = "fixed" vertical = "bottom" horizontal = "beginning">
      <ion-fab-button  color = "secondary" (click)="goBack()">
        <ion-icon name="arrow-back-circle-outline"></ion-icon>
      </ion-fab-button>
    </ion-fab>
  
  </ion-content>
  