canvas {
    padding-left: 0;
    padding-right: 0;
    margin-left: auto;
    margin-right: auto;
    display: block;
    width: 800px;
    height: 900px;
}
.updateBtn{
    width:40%;
    margin-left: 7.5%;
    margin-bottom: 17%;
    margin-top: 5%;
}
.deleteBtn{
    width:40%;
    margin-top: 5%;
    margin-left: 7.5%;
    margin-bottom: 17%;
}
.imagen-vacia {
    color:#888;
    margin-top: 180px;
    -webkit-filter: brightness(1.8) grayscale(1) opacity(.7);
        -moz-filter: brightness(1.8) grayscale(1) opacity(.7);
            filter: brightness(1.8) grayscale(1) opacity(.2);
        
}

.icono{
    text-align: right; 
    color: yellow;
    font-size: 25px;
    position: relative;
    top: 3px;
}
