<ion-header>
  <ion-toolbar color="primary">
    <ion-title>Preferencias de usuario</ion-title>
  </ion-toolbar>
</ion-header>



<ion-content class="ion-padding" color ="light">
  <ion-card color = "warning">
    <p style="margin-left: 25px;
    margin-right: 25px;margin-top: 25px;"
    > En esta sección se establece que apartados de la aplicación quieres que pueda ver tu médico.
    </p>
    <ion-item color = "warning">
      <ion-label  text-wrap>¿Quieres que tu médico pueda ver tus analíticas?</ion-label>
      <ion-toggle color="primary" [(ngModel)]="share_metrics"
      [checked]="false"></ion-toggle>
    </ion-item>
    <ion-item color = "warning">
      <ion-label text-wrap>¿Quieres que tu médico pueda ver tu diario físico?</ion-label>
      <ion-toggle color="primary"[(ngModel)]="share_physical_entries" [checked]="false"></ion-toggle>
    </ion-item>
    <ion-item color = "warning">
      <ion-label text-wrap>¿Quieres que tu médico pueda ver tu diario emocional?</ion-label>
      <ion-toggle color="primary"[(ngModel)]="share_mental_entries" [checked]="false"></ion-toggle>
    </ion-item>

    <ion-button  color = "primary" expand="block" (click)="editarPreferenciasUsuario()">
      Guardar configuración
    </ion-button>
  </ion-card>


  <ion-fab style = "padding-inline-start: 5%;" slot = "fixed" vertical = "bottom" horizontal = "beginning">

    <ion-fab-button  color = "primary" (click)="goBack()">
      <ion-icon name="arrow-back-circle-outline"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>
  

