.cc-selector input{
    margin:0;padding:0;
    -webkit-appearance:none;
       -moz-appearance:none;
            appearance:none;
}

.muyfeliz{background-image:url(/assets/images/cara-muy-feliz.png);}
.feliz{background-image:url(/assets/images/cara-feliz.png);}
.neutral{background-image:url(/assets/images/cara-neutral.png);}
.triste{background-image:url(/assets/images/cara-triste.png);}
.muytriste{background-image:url(/assets/images/cara-muy-triste.png);}

/* .cabeza{background-image:url(/assets/images/cabeza.png);}
.brazoizq{background-image:url(/assets/images/brazo-izquierdo.png);}
.brazodcho{background-image:url(/assets/images/brazo-derecho.png);}
.torso{background-image:url(/assets/images/torso.png);}
.piernaizq{background-image:url(/assets/images/pierna-izquierda.png);}
.piernadcha{background-image:url(/assets/images/pierna-derecha.png);} */

.image-cc{
    cursor:pointer;
    background-size:contain;
    background-repeat:no-repeat;
    display:inline-block;
    width:59px;height:42px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    -webkit-transition: all 100ms ease-in;
       -moz-transition: all 100ms ease-in;
            transition: all 100ms ease-in;
    -webkit-filter: brightness(1.8) grayscale(1) opacity(.7);
       -moz-filter: brightness(1.8) grayscale(1) opacity(.7);
            filter: brightness(1.8) grayscale(1) opacity(.7);
}
.image-cc:hover{
    -webkit-filter: brightness(1.2) grayscale(.5) opacity(.9);
       -moz-filter: brightness(1.2) grayscale(.5) opacity(.9);
            filter: brightness(1.2) grayscale(.5) opacity(.9);
}

/* Extras */
a:visited{color:#888}
a{color:#444;text-decoration:none;}
p{margin-bottom:.3em;}



.error{
   margin-top: 5%;
   padding-left: 10%;
   color:red;
   margin-bottom: 5px;
   margin-left: 3px;
}
