<ion-header>
  <ion-toolbar color="primary">
    <ion-title>Nueva entrada física</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding" color ="light">
  <div color = "light">
    <ion-text color="primary">
      <h1 style="text-align: center; font-weight: bold; padding-bottom: 5%;">{{ dtAux }}</h1>
    </ion-text>
    
    <ion-item color = "light" style="padding-top: 3%;" lines = "none">
      <ion-label class = "txt" position="stacked">¿Cómo te sientes hoy?</ion-label>
      <ion-segment [(ngModel)]="estadoFisico"  scrollable>
        <ion-segment-button value="VG">
          <img src="/assets/images/cara-muy-feliz.png">
        </ion-segment-button>
        <ion-segment-button value="G">
          <img src="/assets/images/cara-feliz.png">
        </ion-segment-button>
        <ion-segment-button value="F">
          <img src="/assets/images/cara-neutral.png">
        </ion-segment-button>
        <ion-segment-button value="B">
          <img src="/assets/images/cara-triste.png">
        </ion-segment-button>
        <ion-segment-button value="VB">
          <img src="/assets/images/cara-muy-triste.png">
        </ion-segment-button>
      </ion-segment>
    </ion-item>
    <ion-item color = "light" lines = "none">
      <ion-label text-wrap  class = "txt" position="stacked">¿Te duele en alguna zona del cuerpo?</ion-label>
      <ion-select style = "background-color: white;border-radius:15px"[(ngModel)]="dolores" multiple="true" placeholder="Selecciona">
        <ion-select-option value="">No me duele nada</ion-select-option>
        <ion-select-option value="HEAD">Cabeza</ion-select-option>
        <ion-select-option value="NECK">Cuello</ion-select-option>
        <ion-select-option value="SHOULDER">Hombro</ion-select-option>
        <ion-select-option value="HIGHER_BACK">Espalda alta</ion-select-option>
        <ion-select-option value="LOWER_BACK">Espalda baja</ion-select-option>
        <ion-select-option value="TORSO">Torso</ion-select-option>
        <ion-select-option value="ARM">Brazo</ion-select-option>
        <ion-select-option value="ELBOW">Codo</ion-select-option>
        <ion-select-option value="WRIST">Muñeca</ion-select-option>
        <ion-select-option value="HAND">Mano</ion-select-option>
        <ion-select-option value="LEG">Pierna</ion-select-option>
        <ion-select-option value="KNEE">Rodilla</ion-select-option>
        <ion-select-option value="ANKLE">Tobillo</ion-select-option>
        <ion-select-option value="FOOT">Pie</ion-select-option>
      </ion-select>
    </ion-item>

    <ion-item color = "light" lines = "none">
      <ion-label text-wrap class = "txt" position = "stacked">¿Has hecho deporte?</ion-label>
      <ion-toggle color="primary" [(ngModel)]="deporte" [checked]="false" ></ion-toggle>

    </ion-item>


    <ion-item color = "light" lines = "none" *ngIf="regla==true">
        <ion-label>¿Tienes la regla?</ion-label>
        <ion-toggle color="primary" [(ngModel)]="reglaHoy" [checked]="false"></ion-toggle>
      </ion-item>

    <ion-item color = "light" lines = "none">
      <ion-label class = "txt" position="stacked">Notas</ion-label>
      <ion-textarea style = "background-color: white;" [(ngModel)]="notas" placeholder="Desarrolla aquí como te sientes y el deporte que hayas hecho." type="text"></ion-textarea>

    </ion-item>
    
    <ion-button color="primary" expand="block" (click)="crearEntradaFisica()">
      Crear entrada
    </ion-button>
  </div>

  <ion-fab style = "padding-inline-start: 5%;" slot = "fixed" vertical = "bottom" horizontal = "beginning">
    <ion-fab-button  color = "primary" (click)="goBack()">
      <ion-icon name="arrow-back-circle-outline"></ion-icon>
    </ion-fab-button>
  </ion-fab>

</ion-content>
