<ion-header>
  <ion-toolbar color="primary">
    <ion-title>
      Nueva entrada
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-pading" color="light">
  <div class = "ct">
    <form name = "form" (ngSubmit)="f.form.valid && nuevaEntrada()" #f = "ngForm" novalidate>
      <ion-item color = "light" lines = "none">
        <ion-label class = "txt" for = "valor" display="block" position="stacked">Valor</ion-label>
        
        <ion-input [(ngModel)]="form.valor" #valor="ngModel" name = "valor" placeholder="Escribe el valor aquí" required [ngClass]="{ 'is-invalid': f.submitted && valor.errors }"></ion-input>
        <ion-badge class="ion-badge">mg/mL</ion-badge>
      </ion-item>
      <div style = "padding-left: 5%;"class="invalid-feedback" *ngIf="valor.errors && f.submitted">
        <div *ngIf="valor.errors['required']">Valor requerido</div>
      </div>
      <ion-button color="primary" expand="block" type = "submit" >
        Crear entrada
      </ion-button>
    </form>
  </div>
    

  <ion-fab style = "padding-inline-start: 5%;" slot = "fixed" vertical = "bottom" horizontal = "beginning">
    <ion-fab-button color = "primary" (click)="goBack()">
      <ion-icon name="arrow-back-circle-outline"></ion-icon>
    </ion-fab-button>
  </ion-fab>
  
  
</ion-content>
