.tabs{
    width: 100%;
}

.tabs button{
    width: 50%;
    height: 3rem;
    background-color: #7f98ba;
    font-size: 1.5rem;
}

.tabs button.active{
    background-color: #294362;
    color: white;
}

.title{
    text-align: center;
    font-size: 2rem;
}

.display-datos{
    font-size: 1rem;
}