<ion-header>
    <ion-toolbar color="primary">
      <ion-title>Perfil</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-content class="ion-padding" color ="light">
 
    <ul>
        <ion-label style = "padding-inline-start: 6%;" display="block" position="floating">Nombre de usuario: {{username}}</ion-label>
    </ul>
    <ul>
        <ion-label style = "padding-inline-start: 6%;" display="block" position="floating">Nombre: {{name}}</ion-label>
    </ul>
    <ul>
        <ion-label style = "padding-inline-start: 6%;" display="block" position="floating">Apellidos: {{surname}}</ion-label>
    </ul>
    <ul>
        <ion-label style = "padding-inline-start: 6%;" display="block" position="floating">Fecha nacimiento: {{birthdate}}</ion-label>
    </ul> 
    <ul>
        <ion-label style = "padding-inline-start: 6%;" display="block" position="floating">Telefono: {{tel}}</ion-label>
    </ul>  
    <ul>
        <ion-label style = "padding-inline-start: 6%;" display="block" position="floating">Email: {{email}}</ion-label>
    </ul> 

        <ion-button style = "width: 60%; margin-top: 10%;margin-left: auto; margin-right: auto;" expand="block" [routerLink] = "['/preferencias-de-usuario']">
        Editar preferencias
    </ion-button>

    <div style = "display: flex; margin-left: 2.5%; margin-right: auto; margin-top: 80%;">
        <ion-button style="margin-right: 5%;" expand="block" [routerLink] = "['/app/Tabs/Analytics']">
            Volver a inicio
        </ion-button>
    
        <ion-button expand="block" (click)="cerrarsesion()">
            Cerrar sesión
        </ion-button>
    </div>
    

  </ion-content>