<ion-header>
    <ion-toolbar color="primary">
        <ion-title>Perfil</ion-title>
       
      </ion-toolbar>
  </ion-header>

  <ion-content class="ion-padding" color ="light">
 
    <ul>
        <ion-label style = "padding-inline-start: 6%;" display="block" position="floating">Nombre de usuario: {{username}}</ion-label>
    </ul>
    <ul>
        <ion-label style = "padding-inline-start: 6%;" display="block" position="floating">Nombre: {{name}}</ion-label>
    </ul>
    <ul>
        <ion-label style = "padding-inline-start: 6%;" display="block" position="floating">Apellidos: {{surname}}</ion-label>
    </ul>
    <ul>
        <ion-label style = "padding-inline-start: 6%;" display="block" position="floating">Fecha nacimiento: {{birthdate}}</ion-label>
    </ul> 
    <ul>
        <ion-label style = "padding-inline-start: 6%;" display="block" position="floating">Telefono: {{tel}}</ion-label>
    </ul>  
    <ul>
        <ion-label style = "padding-inline-start: 6%;" display="block" position="floating">Email: {{email}}</ion-label>
    </ul> 

    <ion-button style = "width: 60%; margin-top: 10%;margin-left: auto; margin-right: auto;" expand="block" [routerLink] = "['/preferencias-de-usuario']">
      Editar preferencias
    </ion-button>
    <ion-button style = "width: 60%; margin-top: 15%;margin-left: auto; margin-right: auto;" expand = "block" (click)="setOpen(true)">Borrar Cuenta</ion-button>

    <div style = "display: flex; margin-left: 6%; margin-right: auto; margin-top: 50%;">
      
      <ion-button style = "margin-right: 5%; width:141px;" expand = "block" [routerLink] = "['/app/Tabs/perfil/info']">
        Acerca de nosotros
      </ion-button>
      <ion-button expand="block" style = "margin-right: 10%; width:150px;" (click)="cerrarsesion()">
          Cerrar sesión
      </ion-button>
        
       
        
    </div>
    <div style = "display: flex; margin-left: 11%; margin-right: auto; margin-top: 10%;">
    
    </div>
  
  
    
    

   

    
    <ion-modal [isOpen]="isModalOpen">
      <ng-template>
        <ion-header>
          <ion-toolbar color="primary">
            <ion-title>Borrar cuenta</ion-title>
            <ion-buttons slot="end">
              <ion-button (click)="setOpen(false)">Cerrar</ion-button>
            </ion-buttons>
          </ion-toolbar>
        </ion-header>
        <ion-content class="ion-padding">
          <p>
            Estás a punto de borra de manera definitiva tu cuenta la aplicación HematoDia, si estás seguro pulse el botón de abajo. Este es un cambio irreversible
          </p>

          <ion-button  expand="block" class = "btacceder" color="primary" (click)="eliminarUsuario( getUserId() )" >Borrar Cuenta </ion-button>
        </ion-content>
      </ng-template>
    </ion-modal>

  </ion-content>