// Ionic Variables and Theming. For more info, please see:
// http://ionicframework.com/docs/theming/

/** Ionic CSS Variables **/


:root {
  
	--ion-color-primary: #294362;
	--ion-color-primary-rgb: 41,67,98;
	--ion-color-primary-contrast: #ffffff;
	--ion-color-primary-contrast-rgb: 255,255,255;
	--ion-color-primary-shade: #243b56;
	--ion-color-primary-tint: #3e5672;

	--ion-color-secondary: #4b6e9a;
	--ion-color-secondary-rgb: 75,110,154;
	--ion-color-secondary-contrast: #ffffff;
	--ion-color-secondary-contrast-rgb: 255,255,255;
	--ion-color-secondary-shade: #426188;
	--ion-color-secondary-tint: #5d7da4;

	--ion-color-tertiary: #7f98ba;
	--ion-color-tertiary-rgb: 127,152,186;
	--ion-color-tertiary-contrast: #000000;
	--ion-color-tertiary-contrast-rgb: 0,0,0;
	--ion-color-tertiary-shade: #7086a4;
	--ion-color-tertiary-tint: #8ca2c1;

	--ion-color-success: #b9c4d3;
	--ion-color-success-rgb: 185,196,211;
	--ion-color-success-contrast: #000000;
	--ion-color-success-contrast-rgb: 0,0,0;
	--ion-color-success-shade: #a3acba;
	--ion-color-success-tint: #c0cad7;

	--ion-color-warning: #d5d1d1;
	--ion-color-warning-rgb: 213,209,209;
	--ion-color-warning-contrast: #000000;
	--ion-color-warning-contrast-rgb: 0,0,0;
	--ion-color-warning-shade: #bbb8b8;
	--ion-color-warning-tint: #d9d6d6;

	--ion-color-danger: #b79a9c;
	--ion-color-danger-rgb: 183,154,156;
	--ion-color-danger-contrast: #000000;
	--ion-color-danger-contrast-rgb: 0,0,0;
	--ion-color-danger-shade: #a18889;
	--ion-color-danger-tint: #bea4a6;

	--ion-color-medium: #D3D3D3;
	--ion-color-medium-rgb: 211,211,211;
	--ion-color-medium-contrast: #000000;
	--ion-color-medium-contrast-rgb: 0,0,0;
	--ion-color-medium-shade: #bababa;
	--ion-color-medium-tint: #d7d7d7;

	--ion-color-light: #f4f5f9;
	--ion-color-light-rgb: 244,245,249;
	--ion-color-light-contrast: #000000;
	--ion-color-light-contrast-rgb: 0,0,0;
	--ion-color-light-shade: #d7d8db;
	--ion-color-light-tint: #f5f6fa;

}
