<ion-header>
  <ion-toolbar color = "primary">
    <ion-title> Diario Físico </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content color = "light">
  <div *ngIf="existsEntradas(); then renderEntradas else noEntradas"></div>
  <ng-template #renderEntradas>
    <div *ngFor="let entrada of entradas" style="overflow-y: scroll">
      <app-entrada-fisica-general
        [date]="entrada.date.toUTCString()"
        [state]="entrada.state"
        [bodyParts]="entrada.body_parts"
        [notes]="entrada.notes"
      ></app-entrada-fisica-general>
    </div>
  </ng-template>
  <ng-template #noEntradas>
    <div style="font-weight: bold; font-size: x-large; text-align: center">     

      <img src="https://static.thenounproject.com/png/2902077-200.png" class="imagen-vacia" alt="">
      <div style="opacity: .2;"> No hay entradas todavía </div>
      
    </div>
  </ng-template>
  
  <ion-fab style = "padding-inline-end: 5%;"  slot = "fixed"  vertical = "bottom" horizontal = "end">
    <ion-fab-button color = "primary" [routerLink]="['/app/Tabs/seccion-fisica/New']">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>
